.inline-decimal-wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  
}

#inline-decimal {
  font: inherit;
  display: inline-block;
  min-width: 6ch;
  text-align: left;
}

#inline-decimal:focus {
  outline: none;
}
