body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}


#app-container {
  width: 100%;
  height: 100%;
  position: relative;

}

#canvas-container {
  width: 100%;
  height: 100%;
  background-color: #222;
  position: relative
}

#ui-container {
  position: absolute; /* Põe a UI a flutuar */
  top: 25px;
  left: 20px;
  z-index: 10; /* Garante que está 'em cima' do canvas */

  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #5d66ee;
  border: 10;
  border-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #30c6ec;
}